@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Noto Color Emoji";

  --font-mono: "JetBrains Mono", monospace;

  /* Backgrounds */
  --color-editor-background: #191919;
  --color-editor-text: #f0efed;
  --color-editor-text-selection: #1a3751;
}

@layer base {
  html {
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  code,
  pre {
    font-family: var(--font-mono);
  }
}